
Spelet/Temp/UnityTempFile-204299df3052b41df88d05405b168b58
Spelet/Temp/__Backupscenes/0.backup
Spelet/Library/assetDatabase3
Spelet/Library/EditorInstance.json
Spelet/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Spelet/Library/CrashedAssetImports.txt
Spelet/Library/assetDatabase3
